@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IEnumerable<ASP_NET_OnTap_CuoiKy_PhanTrang_CRUD_SESSION_LOGIN.Models.Album>

@{
    ViewData["Title"] = "CreateList";
}

<h1>CreateList</h1>

<p>
    <a asp-action="CreateAlbum">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumArtUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumArtUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.ArtistId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.GenreId)
                </td>
                <td>
                    <a asp-action="EditAlbum" asp-route-id="@item.AlbumId">Edit</a> |
                    <a asp-action="DeleteAlbum" asp-route-id="@item.AlbumId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
 
@Html.PagedListPager((IPagedList)Model, page => Url.Action("AlbumList", new { page = page }), new PagedListRenderOptions
{
    ContainerDivClasses = new[] { "navigation" },
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" }
});